body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  background-color: #222831;
  color: #eeeeee;
}

/* Shared hand styles */
.playerHands,
.opponentHands {
  position: fixed;
  left: 50%;
  transform: translateX(-50%);
  width: 90%;
  display: flex;
  justify-content: space-between;
  gap: 1rem;
  padding: 1rem;
}

.opponentHands {
  top: 5%;
}

.playerHands {
  bottom: 5%;
}
#playerLeft, #playerRight,
#oppLeft, #oppRight {
  flex: 1;
  max-width: 45%;
  padding: 1rem;
  text-align: center;
  border-radius: 10px;
  margin: 0;
}

#playerLeft, #playerRight {
  background-color: #00adb5;
  flex: 1;
  text-align: center;
  padding: 2%;
  border-radius: 10px;
}

#oppLeft, #oppRight {
  background-color: #f08a5d;
  flex: 1;
  text-align: center;
  padding: 2%;
  border-radius: 10px;
}


/* Buttons */
#attackButton, #swapButton {
  width: 30%;
  height: auto;
  background-color: whitesmoke;
  font-size: 1.2rem;
  padding: 1rem;
  border-radius: 10px;
  border: none;
}

/* Button container */
.playerActions {
  position: fixed;
  bottom: 50%;
  left: 50%;
  transform: translateX(-50%);
  width: 80%;
  display: flex;
  justify-content: center;
  gap: 1rem;
}

.opLButton , .opRButton {
 all: unset;
  display: block;
  flex: 1;
  max-width: 45%;
  padding: 2%;
justify-content: center;
  text-align: center;
  align-items: center;
  border-radius: 10px;
  background-color: #f08a5d;
  color: #eeeeee;
  font-size: 1.5rem;
  box-sizing: border-box;
  cursor: pointer;
  display:flex;
  border:solid whitesmoke 5px;
}
.playLButton, .playRButton{
all: unset;
  display: block;
  flex: 1;
  max-width: 45%;
  padding: 2%;
justify-content: center;
  text-align: center;
  align-items: center;
  border-radius: 10px;
  background-color: #00adb5;
  color: #eeeeee;
  font-size: 1.5rem;
  box-sizing: border-box;
  cursor: pointer;
  display:flex;
  border:solid whitesmoke 5px;
}

.selectedPH{
  border:solid red 5px
}

#confirmSwapButton, #cancelSwapButton{
width: 30%;
  height: auto;
  background-color: whitesmoke;
  font-size: 1.2rem;
  padding: 1rem;
  border-radius: 10px;
  border: none;
}

#cancelTapButton{
width: 30%;
  height: auto;
  background-color: whitesmoke;
  font-size: 1.2rem;
  padding: 1rem;
  border-radius: 10px;
  border: none;
}

.playerTappingActions {
  position: fixed;
  bottom: 50%;
  left: 50%;
  transform: translateX(-50%);
  width: 80%;
  display: flex;
  justify-content: center;
  gap: 1rem;
  z-index:10;
}

.playerSwappingActions {
  position: fixed;
  bottom: 50%;
  left: 50%;
  transform: translateX(-50%);
  width: 80%;
  display: flex;
  justify-content: center;
  gap: 1rem;
  z-index:2;
}